<!-- Tabla Independiente => Eps-->
@model MedicalPLE.Models.Eps
@{
    ViewData["Title"] = "Editar Eps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center"> Editar eps</h3>
<form method="post" asp-action="Edit">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="EpsId" />
        <div class="col-10 offset-1 mt-4">

           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreEps">Nombre EPS</label>
                </div>
                <div class="col-8">
                    <input id="IdNombreEps" asp-for="NombreEps" class="form-control" type="text" maxlength="300"/>
                    <span asp-validation-for="NombreEps" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model.EpsId">Actualizar</button>
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success form-control">Volver a lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>




