
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary"> Lista de paciente</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Paciente</a>
        </div>
    </div>

    <br />
    <br />
    <table id="tblPacientes" class="table table-striped table-bordered" style="width:100%;">
       <thead>
           <tr>
               <th>PacienteId</th>
               <th>NumeroDocumento</th>
               <th>NombresApellidos</th>
               <th>Fechanacimiento</th>
               <th>Edad</th>
               <th>Lugarnacimiento</th>
               <th>Nacionalidad</th>
Embarazo
               <th>UltimaMestruacion</th>
               <th>Semanaembarazo</th>
               <th>Numeroembarazo</th>
               <th>Direccion</th>
               <th>Barrio</th>
               <th>Correo</th>
               <th>Fijo</th>
               <th>Celular</th>
               <th>NombreResponsable</th>
               <th>FijoResponsable</th>
               <th>CelularResponsable</th>
               <th>ParentescoResponsable</th>
               <th>NombreReferida</th>
               <th>FijoReferido</th>
               <th>CelularReferido</th>
               <th>ReferidoPor</th>
               <th>NombreAcompanante</th>
               <th>FijoAcompanante</th>
               <th>CelularAcompanante</th>
               <th>ParentescoAcompanante</th>
               <th>NombreMadreMenor</th>
               <th>CedulaMadreMenor</th>
               <th>TelefonoMadreMenor</th>
               <th>OcupacionMadreMenor</th>
               <th>NombrePadreCuidadorMenor</th>
               <th>CedulaPadreCuidadorMenor</th>
               <th>TelefonoPadreCuidadorMenor</th>
               <th>OcupacionPadreCuidadorMenor</th>
               <th>ParentescoPadreCuidador</th>

           </tr>
       </thead>       
    </table>
</div>
@section Scripts{ 
    <script src="~/js/paciente.js"></script>
}





