@model MedicalPLE.Models.Departamento
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h3 class="text-center"> Crear Departamento</h3>
<form method="post" asp-action="Create">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">    
        
           <div class="form-group row">
                <div class="col-4">
                    <label asp-for="NombreDepartamento"></label>
                </div>
                <div class="col-8">
                   <textarea asp-for="NombreDepartamento" class="form-control" style="height:500px;"></textarea>
                    <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_VistaCrearVolver"/>
                </div>
            </div>
        </div>
    </div>
</form>







